<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- templates/fragments/header.html -->
<div th:fragment="header">
  <header class="bg-dark text-white py-2 px-3 d-flex align-items-center justify-content-between">
    <div class="logo h4 font-weight-bold m-0" th:onclick="location.href='/'">
      MySiteLogo
    </div>
    <nav>
      <div th:if="${session.loginUser == null}">
        <a class="text-white font-weight-bold ml-3" th:href="@{'/user/register'}">회원가입</a>
        <a href="/user/login" class="text-white font-weight-bold ml-3">로그인</a>
      </div>

      <div th:if="${session.loginUser != null}">
        <a
          th:if="${session.loginUser.level == 9}"
          href="/admin/introduction/list" class="text-white font-weight-bold ml-3">관리자</a>
        <a href="/board/list" class="text-white font-weight-bold ml-3">게시판 </a>
        <a href="/user/logout" class="text-white font-weight-bold ml-3">로그아웃</a>
        <span class="welcome ml-3 font-italic">
          환영합니다, <span th:text="${session.loginUser.loginId} + ' (' + ${session.loginUser.name} + ')'"></span>님
        </span>
      </div>
    </nav>
  </header>
</div>
</html>