/* static/css/header.css */
header {
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}
.logo {
  font-size: 1.8em;
  font-weight: bold;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
}
nav a:hover {
  text-decoration: underline;
}
.welcome {
  margin-left: 20px;
  font-style: italic;
}

.nav-c-g{
    color: #675d5d !important;
}

.i-border {
    background: #9190d9;
    border: 1px solid #5352ad;
}